.jobs-list{
	list-style-type: none;
}


/*SingleJob page*/

#customer_info{
	text-align: left;
}

li.active{
	/*border-bottom: 10px solid red;*/
	text-decoration: underline;
	font-weight: bold
}

#tab_form-tab-1, #tab_form-tab-2, #tab_form-tab-3, #tab_form-tab-4{
	color:inherit;
	text-decoration-color: red;
}
.nav.nav-tabs{
	font-size: 150%;
}

label.active{
	background-color: blue;
}


@media only screen and (max-width: 600px) {
	.nav.nav-tabs{
		font-size: 100%;
	}
}
body {
    /* The image used */
	background-image: 
	url("/image_1.jpg");

    /* Full height */
	min-height: 100vh;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
	background-size: cover;

}
.container{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 350px;
	height: 420px;
	box-sizing: border-box;
	background: rgba(0, 0, 0, .7);
  }
input {
	opacity: .5;
} 
h1{
color: aliceblue;
}
label{
	color: aliceblue;
}
.login-space{
	margin-top: 30px;
}
 p{
	 color: aliceblue;
 }
.jobs-list{
	
}


