
.jobs-list{
	list-style-type: none;
}


/*SingleJob page*/

#customer_info{
	text-align: left;
}

li.active{
	border-bottom: 10px solid #0037b4;

	text-decoration: underline;
	font-weight: bold
}

#tab_form-tab-1, #tab_form-tab-2, #tab_form-tab-3, #tab_form-tab-4{
	color:inherit;
	text-decoration-color: red;
}
.nav.nav-tabs{
	font-size: 150%;
}

label.active{
	background-color: blue;
}


/* body {
	min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
	background-size: cover;
	
} */
body {
	min-height: 100vh;
	position: relative;
}

.bgbody{
 position: absolute;
 top: 50px;
 left: 0;
 width: 100vw;
 height: 100vh;
	background-image: url(/image_1.jpg);    
 background-position: center;
 background-repeat: no-repeat;
	background-size: cover;
	background-image:  url("/image_1.jpg");    
}
/* .login{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 350px;
	height: 420px;
	box-sizing: border-box;
	background: rgba(0, 0, 0, .7);
	} */
	
  .loginRegisterWindow{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 350px;
	height: 420px;
	box-sizing: border-box;
	background: rgba(0, 0, 0, .7);
  }

.loginRegisterH1{
color: aliceblue;
}
.loginRegisterLabel{
	color: aliceblue;
}
.login-space{
	margin-top: 30px;
}
p{
	 color: aliceblue;
}

.jumbotron{
	background-color:#00b1b1;
	color: white;
	border: 2px solid;
}

.newUser{
	margin-top: 30px;
	font-weight: bold;
}

.loginInput{
		width: 85%;
    height: 34px;
		padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.loginRegisterImage{
	background-image:  url("/image_1.jpg");
}

#trash:hover{
	color:#1a0dab;
	cursor: pointer;
}

#editing:hover{
	color:#1a0dab;
	cursor: pointer;
}


@media only screen and (max-width: 600px) {
	.nav.nav-tabs{
		font-size: 100%;
  }
}

#submit-job{
	float:right;
}


